/* 1. Apply class names to all elements using the parent name - child name convention */
/* 2. Import Font Family from Google Fonts service */
/* 3. Reset browser style sheets */
/* 4. Declare colors as variables */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

section {
  padding: 130px 0;
}

:root {
  --orange: #ff6c00;
  --dark-gray: #303030;
  --white: #ffffff;
  --light-gray: #9da4bd;
  --medium-gray: #555555;
  --black: #000000;
  --ash: #f7f7f7;
  --dark-ash: #191c26;

  --raleway: 'Raleway', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--open-sans);
}

/* Button does not automatically inherit font family from body selector */

button {
  border-radius: 25px;
  border: 1px solid var(--orange);
  background-color: transparent;
  font-family: inherit;
}

.nav-item-link {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.nav-item-link:hover,
.address-item-link:hover,
.hero-item-link:hover {
  color: var(--orange);
  cursor: pointer;
}

.address-item-link {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.header-button {
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

/* This style is not part of the Figma design, I just added it for the white texts to be visible */

.about,
.services,
.awards,
.members,
.gallery,
.contacts {
  background-color: antiquewhite;
}

/* HERO SECTION */

.hero-eyebrow {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/* We don't include the font-weight because 700 is default for h1-h6 tags */
/* We don't include font-weight 400 because that is default for p, button, a tags */
/* We also omit line-height: normal and font-style: normal values */
/* We don't declare the family if it's value is Open Sans because we already declared that in the body tag */

.hero-heading {
  color: var(--white);
  font-family: var(--raleway);
  font-size: 72px;
  letter-spacing: 3.6px;
}

.hero-paragraph {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.hero-item-link {
  color: var(--white);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}

/* ABOUT SECTION */

.about-eyebrow {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.about-heading {
  color: var(--dark-gray);
  font-family: var(--raleway);
  font-size: 42px;
  letter-spacing: 2.1px;
}

.about-description {
  color: var(--medium-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.about-sub-description {
  color: var(--medium-gray);
  font-size: 14px;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
}

.about-button {
  border-radius: 25px;
  border: 1px solid var(--orange);

  color: var(--dark-gray);
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

/* SERVICES SECTION */

.services-eyebrow {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.services-heading {
  color: var(--white);
  font-size: 42px;
  letter-spacing: 2.1px;
}

.services-item {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.services-button {
  border-radius: 25px;
  border: 1px solid var(--orange);
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

/* I declared the eyebrow element styles collectively because they share the same design */

.awards-eyebrow,
.members-eyebrow,
.gallery-eyebrow {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/* AWARDS SECTION */

.awards-heading {
  color: var(--dark-gray);
  font-family: var(--raleway);
  font-size: 42px;
  letter-spacing: 2.1px;
}

.awards-description {
  color: var(--medium-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.awards-item-title {
  color: var(--dark-gray);
  text-align: center;
  font-size: 42px;
  letter-spacing: 2.1px;
}

.awards-item-paragraph {
  color: var(--dark-gray);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}

/* MEMBERS SECTION */

.members-heading {
  color: var(--dark-gray);
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.members-item-title {
  color: var(--dark-gray);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.36px;
}

.members-item-description {
  color: var(--orange);
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.28px;
}

/* CONTACTS SECTION */

.contacts-heading {
  color: var(--white);
  font-family: var(--raleway);
  font-size: 42px;
  letter-spacing: 2.1px;
}

/* I declared both .contacts-item and .contacts-item-link here because the element containing the location address which is the first LI is not an anchor tag */
/* On the succeeding LI tags, we need to set it to .contacts-item-link since it is the child most element */
.contacts-item,
.contacts-item-link {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.contacts-description-title {
  color: var(--white);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.contacts-description-body {
  color: var(--light-gray);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

/* FOOTER SECTION */

.footer-copyright {
  color: var(--light-gray);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}

.footer-item-link {
  color: var(--dark-gray);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}

.footer-item-link:hover {
  color: var(--orange);
}

/* ================== HEADER SECTION ================= */

.header .container {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.nav {
  display: flex;
  margin-right: auto;
}

.nav-logo {
  margin-right: 130px;
}

.nav-list {
  display: inline-flex;
  align-items: center;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.address-list {
  margin-right: 40px;
}

.header {
  padding: 32px 0;
}

.header-button {
  padding: 12px 25px;
}

.header-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

/* ================== HERO SECTION ================= */
.hero {
  position: relative;
  padding: calc(206px - 80px) 0 186px;
}

.hero-backdrop {
  background-image: url(./images/hero-background.jpg),
    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1125px 680px, cover;
  background-color: unset;
  width: 1125px;
  height: 680px;
  position: absolute;
  top: -124px;
  left: calc(50% + 75px);
  transform: translateX(-50%);
  z-index: -1;
}

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.hero-list {
  display: flex;
  margin-right: 58px;
  rotate: 270deg;
  position: relative;
  padding-bottom: 100px;
}

.hero-list::before {
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  background-color: var(--dark-gray);
  position: absolute;
  left: -70px;
  top: -20px;
  transform: rotate(90deg);
}

.hero-eyebrow {
  margin-left: 80px;
}

.hero-eyebrow,
.hero-heading {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.hero-eyebrow::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 60px;
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.6);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.hero-item:first-child {
  margin-right: 40px;
}

.hero-item-link {
  color: var(--dark-gray);
}

/* ================== ABOUT SECTION ================= */
.about {
  padding: 130px 0;
  background-color: var(--white);
}
.about-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 64px;
}

.about-list {
  display: flex;
}

.about-item:first-child {
  margin-right: 30px;
}

.about-eyebrow {
  display: block;
  margin-left: 80px;
  position: relative;
}

.about-eyebrow::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 60px;
  flex-shrink: 0;
  background: var(--dark-gray);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.about-eyebrow,
.about-heading,
.about-description {
  margin-bottom: 20px;
}

.about-sub-description {
  margin-bottom: 40px;
}

.about-button {
  padding: 12px 25px;
}

.about-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

/* ================== SERVICES SECTION ================= */
.services {
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url(./images/services-background.jpg);
  background-repeat: no-repeat;
  background-color: unset;
  background-size: cover;
}

.services-list-container {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  margin-bottom: 48px;
}

.services-eyebrow {
  display: block;
  margin-bottom: 20px;
  margin-left: 80px;
  position: relative;
}

.services-eyebrow::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 60px;
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.6);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.services-heading {
  margin-bottom: 46px;
}

.services-button {
  display: block;
  margin: 0 auto;
}

.services-button {
  padding: 12px 25px;
}

.services-button:hover {
  background-color: var(--orange);
  color: var(--white);
}

.services-list {
  width: 585px;
  padding: 28px 38px 32px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-item-bar {
  background-color: rgba(157, 164, 189, 0.12);
  height: 1px;
  flex: 1;
}

.services-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

/* ================== AWARDS SECTION ================= */

.awards {
  background-color: var(--white);
}

.awards-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 130px;
}
.awards-item {
  background-color: var(--ash);
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.awards-item-title {
  position: relative;
}

.awards-item-title::after {
  content: '+';
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--orange);
  position: absolute;
}
.awards-list {
  width: 372px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.awards-item:nth-child(even) {
  margin-top: 35px;
}

.awards-eyebrow {
  display: block;
  margin-left: 80px;
  position: relative;
}

.awards-eyebrow::before,
.members-eyebrow::before,
.gallery-eyebrow::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  flex-shrink: 0;
  background: var(--dark-gray);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.awards-eyebrow,
.awards-heading {
  margin-bottom: 20px;
}

/* ================== MEMBERS SECTION ================= */

.members {
  background-color: var(--ash);
}

.members-eyebrow {
  display: block;
  margin-bottom: 20px;
  margin-left: 80px;
  position: relative;
}

.members-heading {
  margin-bottom: 44px;
}

.members-list {
  display: flex;
  justify-content: space-between;
}

.members-item-image {
  display: block; /* We need this to apply margin bottom */
  margin-bottom: 30px;
}

.members-item-title {
  margin-bottom: 8px;
}

.members-item-description {
  margin-bottom: 30px;
}

.members-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.members-social-link {
  background-color: var(--white);
  border-radius: 50%;
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--black);
}

.members-social-link:hover {
  color: var(--orange);
}

.members-social-link:hover > svg,
.members-social-link:active > svg {
  fill: currentColor;
}

.members-social-link > svg {
  width: 20px;
  height: 20px;
}

/* ================== GALLERY SECTION ================= */

.gallery {
  background-color: var(--white);
}

.gallery-eyebrow {
  display: flex;
  margin-bottom: 44px;
  margin-left: 80px;
  position: relative;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

/* ================== CONTACTS SECTION ================= */

.contacts {
  background-color: var(--dark-ash);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.9),
      rgba(25, 28, 38, 0.9)
    ),
    url(./images/contacts-background.jpg);
  background-repeat: no-repeat;
  background-position: cover;
}

.contacts-heading {
  margin-bottom: 40px;
}

.contacts-item {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.contacts-item-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-description-title {
  display: block;
  margin-bottom: 20px;
  margin-left: 80px;
  position: relative;
}

.contacts-description-title::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 60px;
  flex-shrink: 0;
  background: rgba(157, 164, 189, 0.6);
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

/* ================== FOOTER SECTION ================= */

.footer {
  padding: 56px 0;
}

.footer-container {
  display: flex;
}

.footer-list {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: 40px; /* used to set gap between flex items */
  /* Achieves the same effect as the use of .footer-item { margin-right: 40px } and .footer-item:last-child { margin-right: 0 } */
  position: relative;
}

.footer-list::before {
  content: '';
  display: block;
  width: 1px;
  height: 60px;
  background-color: var(--dark-gray);
  position: absolute;
  left: -70px;
  top: -20px;
  transform: rotate(90deg);
}
